.hidden{
	display:none !important;
}
.leftMargin5{
	margin-left:5px;
}
.leftMargin10{
	margin-left:10px;
}
.topMargin20{
	margin-top:20px;
}
.zeroTopMargin{
	margin-top:0px;
}
.bottomMargin20{
	margin-bottom:20px;
}
.inputFormRow{
	display:table-row;
}
.inputFormColumn{
	display:table-cell;
}
.bolder{
	font-weight: bolder
}
.clickable{
	cursor:pointer;
}
.centered{
	text-align:center;
}
label{
	display:block;
}
label.inline{
	display:inline;
}
table{
	width:100%;
	border:1px solid;
}
td{
	border-top:1px solid;
}
td,th{
	border-right:1px solid;
}
th{
	color:white;
	background-color:black;
}
td:last-child,th:last-child{
	border-right:none;
}
tr:nth-child(odd){
	background-color:beige;
}
.halfSized{
	width:50%;
}

.group:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear { clear: both; }

.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.tabs{
    margin-bottom: 0;
	
    border-bottom: 1px solid;
}
.tab{
	display:inline-block;
	background-color: whitesmoke;
	border: 1px solid;
	border-radius: 5px;
	padding: 10px 10px 5px 5px;
	margin:5px 5px 0 0 ;
}
.tab.active{
	background-color:black;
	color:white;
	font-weight:bolder;
}
.tabContent{
	margin-top:10px;
}
.hint{
	font-style: italic;
	font-size:smaller;
}
.numberInput{
	width: 40px;
}
button{
	cursor:pointer;
}
.fa{
    color: rgb(65,56,56);
}
.white{
	color:white;
}
.dialog{
	position:absolute;
	top:15%;
	left:30%;
	width:450px;
	min-height: 50%;
	max-height: 70%;
	background-color:white;
	border:1px solid black;
	border-radius:5px;
	padding:20px;
	z-index:1001;
}
.dialogContent{
	height: 400px;
	max-width: 100%;
	overflow-y:auto;
}
.mask{
	width:100%;
  	height:100%;
  	bottom: 0;
  	right:  0;
  	background: rgba(255,255,255,0.75);
  	z-index:1000;
  	position:fixed;
  	left:0;
  	top:0;	
}